In [4]:
import requests
from bs4 import BeautifulSoup

In [5]:
url = 'https://www.fifa.com/fifa-world-ranking/ranking-table/men/'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

In [6]:
t_names = [i.text for i in soup.find_all("span", class_="fi-t__nText")]
t_rankings = [i.text for i in soup.find_all("td", class_="fi-table__td fi-table__points")]
t_prev_rankings = [i.text for i in soup.find_all("td", class_="fi-table__td fi-table__prevpoints")]

In [8]:
d_ranks = dict(zip(t_names, t_rankings))
d_prev_ranks = dict(zip(t_names, t_prev_rankings))

In [10]:
d_ranks['Belgium']

'1780'

In [11]:
d_prev_ranks['Belgium']

'1780'

In [13]:
soup.find("a", class_="fi-t__link")['href']

'/fifa-world-ranking/associations/association/BEL/men/'

In [14]:
soup.find_all("a", class_="fi-t__link")[0]['href']

'/fifa-world-ranking/associations/association/BEL/men/'

In [19]:
url = 'https://www.fifa.com' + soup.find("a", class_="fi-t__link")['href']
response = requests.get(url)
avg_soup = BeautifulSoup(response.text, "html.parser")
print(avg_soup.find_all("span", class_="fi-ranking-bignumber--data")[-1].text.strip())

28

In [20]:
avg_ranks = []
for i in range(0,5):
    url = 'https://www.fifa.com' + soup.find_all("a", class_="fi-t__link")[i]['href']
    response = requests.get(url)
    avg_soup = BeautifulSoup(response.text, "html.parser")
    print(t_names[i], avg_soup.find_all("span", class_="fi-ranking-bignumber--data")[-1].text.strip())
    avg_ranks.append(avg_soup.find_all("span", class_="fi-ranking-bignumber--data")[-1].text.strip())

Belgium 28
France 8
Brazil 3
England 10
Portugal 11

In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame(columns=['Team','Total Points','Previous Points','Avg Rank'])
for i in range(0,5):
    df.loc[i] = [t_names[i], t_rankings[i], t_prev_rankings[i], avg_ranks[i]]
    
df

       Team Total Points Previous Points Avg Rank
0   Belgium         1780            1780       28
1    France         1755            1755        8
2    Brazil         1743            1743        3
3   England         1670            1670       10
4  Portugal         1662            1662       11

In [23]:
df.to_csv('FIFA Teams info.csv')